/* Resetoidaan selaimen oletustyylit */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Määrittele taustaväri body-elementille */
body {
    background-color: blue; /* Tässä voit vaihtaa taustavärin haluamaksesi */
    font-family: Arial, sans-serif; /* Esimerkki fontista */
}

/* Muut tyylit jatkuvat tästä */



/* Yläpalkin tyyli */
header {
    background-color: aquamarine;
    color: #fff;
    padding: 10px;
}

/* Yläpalkin linkkien tyyli */
nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* Pääsisällön tyyli */
main {
    padding: 20px;
}

article {
    margin-bottom: 20px;
}

/* Alatunnisteen tyyli */
footer {
    background-color: aqua;
    color: #fff;
    text-align: center;
    padding: 10px;
}
